{# index.twig #}
{% extends "layout.twig" %}
{% block page %}
    {% for page in page.items %}
        <h2>{{ page.fields.title }}</h2>
        <hr size='1'/>
        <p>{{ page.fields.description }}</p>
        {% for list in page.fields.content %}
            <h3>{{ list.fields.title }}</h3>
            <p>{{ list.fields.description }}</p>
            {% for item in list.fields.content %}
                <h4>{{item.fields.title}}
                    {% if item.fields.location %}
                        <a href='https://maps.google.com/?q={{ item.fields.location.lat }},{{ item.fields.location.lon }}'><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                    {% endif %}
                </h4>
                <p>{{item.fields.content}}</p>

            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}

